.logotype {    
  height: 35px;
  font-family: 'Raleway';
  font-weight: bolder;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 117.4%;
  line-height: $lineHeight-less;
  color: $white;
  &:hover {
    color: $whiteOpacity85;
  }
  &:focus {
    color: $whiteOpacity70;
  }
  &:active {
    color: $whiteOpacity60;
  }
  &:visited {
    color: $white;
  }
  @include for-size(small-phone) {    
    font-size: 26px;
  }
}
.logotype__accent {
  font-weight: 400;
  color: $blue;
}