.payment-systems {
  display: flex;
  align-items: center;
  color: $grayFooter;
  @include for-size(phone) {
    flex-direction: column;
  }
}
.payment-systems__item {
  display: flex;
  align-items: center;
  @include for-size(phone) {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0
    }
  }
  @include for-size(tablet) {
    margin-right: 4em;
    &:last-child {
      margin-right: 0
    }
  }
  @include for-size(devices) {
  }
  @include for-size(desktop) {
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.payment-systems__item_qiwi {
  &::before {
    margin-right: 10px;
    width: 20px;
    height: 21px;
    content: url(../img/icon_qiwi.svg);
  }
  @include for-size(desktop) {
    margin-right: 41px;
  }
}
.payment-systems__item_yandex-money {
  &::before {
    margin-right: 13px;
    width: 14px;
    height: 18px;
    content: url(../img/icon_yandex-money.svg);
  }
  @include for-size(desktop) {
    margin-right: 38px;
  }
}
.payment-systems__item_web-money {
  &::before {
    margin-right: 12px;
    width: 18px;
    height: 17px;
    content: url(../img/icon_web-money.svg);
  }
}