.order-form {
  @include for-size(phone) {

  }
  @include for-size(tablet) {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
  }
  @include for-size(desktop) {
    grid-template-columns: repeat(3, 370px);
  }
}
.order-form__item {
  @include for-size(phone) {
    margin-bottom: 1.5em;
    width: 100%;
  }
}
.order-form__item_span2 {  
  @include for-size(desktop) {
    grid-column: span 2;
  }
}
.order-form__item_span3 {
  @include for-size(desktop) {
    grid-column: span 3;
  }
}