.burger-menu {  
  @include for-size(tablet) {
    position: relative;
    top: -2px;
  }
}
.burger-menu__item {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  @include for-size(phone){
    color: $black;
  }
  @include for-size(tablet) {  
    color: $white;  
    margin-right: 60px;  
  }
  &:hover {
    @include for-size(phone){
      color: $blackOpacity85;
    }
    @include for-size(tablet) {
      color: $whiteOpacity85;
    }
  }
  &:focus {
    @include for-size(phone){
      color: $blackOpacity70;
    }
    @include for-size(tablet) {
      color: $whiteOpacity70;
    }
  }
  &:active {
    @include for-size(phone){
      color: $blackOpacity60;
    }
    @include for-size(tablet) {
      color: $whiteOpacity60;
    }
  }
  &:visited {
    @include for-size(phone){
      color: $black;
    }
    @include for-size(tablet) {
      color: $white;
    }
  }
  &:last-child {
    @include for-size(tablet) {    
      margin-right: 0;
    }
  }
}
@include for-size(phone){
  .burger-menu {
    display: none;
  }
  .showOnlyHeader {
    height: 100vh;
    overflow: hidden;
  }
  .burger-menu_open {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding-top: 33px;
    padding-right: 15px;
    padding-bottom: 33px;
    padding-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background: $white;
  }
  .burger-menu_open__item {
    margin-bottom: 1.2em;
    height: auto;
    color: $black;
    position: relative;
    z-index: 4;
    font-size: 33px;
    line-height: $lineHeight-standart;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.burger-menu__item_current {
  color: $blue;
  &:hover {
    color: $blueOpacity85;
  }
  &:focus {
    color: $blueOpacity70;
  }
  &:active {
    color: $blueOpacity60;
  }
  &:visited {
    color: $blue;
  }
}