.footer {  
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include for-size(devices) {
    flex-direction: column;
  }
  @include for-size(desktop) {
    flex-direction: row;
  }
}
.footer__item {
  color: $white;
  font-size: 13px;
  line-height: $lineHeight-standart;
  @include for-size(tablet) {    
    height: 18px;
  }
  @include for-size(devices) {
    margin-bottom: 2em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include for-size(desktop) {
    height: 18px;
  }
}
.footer__item_separator {
  background-color: $grayFooter;
  @include for-size(devices) {
    width: 25%;
    height: 1px;
  }
  @include for-size(desktop) {
    width: 1px;
  }
}