.part_header {
  width: 100%;
  position: absolute;
  top: 0;
  background-color: $blackBg;  
  @include for-size(phone) {
    padding-top: 32px;
    padding-bottom: 32px;
  }  
  @include for-size(tablet) {
    padding-top: 33px;
    padding-bottom: 32px;
  }
}
.part_product {
  padding-top: 203px;
  padding-bottom: 202px;
  background-image: url('../img/bg_part_product.jpg');
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
}
.part_order {
  padding-top: 119px;
  padding-bottom: 150px;
  background-color: $placeholder;
  background-image: url('../img/bg_part_order.png');
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  color: $grayText;
}
.part_footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $blackBgFooter;
}

.part__content {
  @include for-size(phone) {
    margin-left: 15px;
    margin-right: 15px;
  }
  @include for-size(tablet) {
    margin-left: 15px;
    margin-right: 15px;
  }
  @include for-size(desktop) {
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
  }
}