.order-steps {
  display: flex;
  @include for-size(phone) {
    flex-direction: column;
    align-items: center;
  }
  @include for-size(tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
  @include for-size(desktop) {
    padding-left: 57px;  
    padding-right: 56px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.order-steps__item_separator {
  background-image: url(../img/bg_order-steps_item_separator.svg);
  @include for-size(phone) {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 7px;
    height: 34px;
    background-position: center -10px;
  }
  @include for-size(tablet) {
    width: 34px;
    height: 7px;
    position: relative;
    top: 50px;
    background-position: -10px center;
  }
  @include for-size(desktop) {
    width: 116px;
    height: 7px;
    // position: relative;
    // top: 50px;
    // background-position: -10px center;
  }
}
.order-steps__item_step {
  width: 100px;
  font-size: 16px;
  text-align: center;
  color: $white;
}
.order-steps__item_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  &::before {
    margin-bottom: 20px;
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $blue;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: 5px solid $blueDark;
  }
  &:hover::before {
    border-color: $blue;
  }
}
.order-steps__item_icon_find {
  &::before {
    background-image: url('../img/icon_search.svg');
  }
}
.order-steps__item_icon_percent {
  &::before {
    background-image: url('../img/icon_percent.svg');
  }
}
.order-steps__item_icon_substract {
  &::before {
    background-image: url('../img/icon_subtract.svg');
  }
}
.order-steps__item_icon_envelope {
  &::before {
    background-image: url('../img/icon_envelope.svg');
  }
}
.order-steps__item_icon_banknote {
  &::before {
    background-image: url('../img/icon_banknote.svg');
  }
}